{% extends 'base.html.twig' %}

{% block title 'Accueil | Agence TropDeChalet'%}


{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence TropdeChalet</h1>
        <p> Inondé de site Internet louche? Google ne vous fournit pas les informations qu'il vous fout? Notre équipe sélectionne POUR VOUS
        les meilleurs offres du moment pour chalets et appartements des 3 Vallées.</p>
    </div>

    <div class="container">
        <h2>Les dernières offres</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card mb-4">
                        {% if property.filename %}
                            <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto;">
                        {% else %}
                            <img src="{{ '/images/properties/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} | {{ property.adress}} </p>
                            <div class="text-primary" style="font-weight: bold;font-size: 2rem;">{{ property.formattedPrice }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}