{% extends 'base.html.twig' %}

{% block title 'Conditions de vente | Agence TropDeChalet'%}

{% block body %}

    <div class="jumbotron">

        <div class="row text-center">

            <h1>Ou pourquoi nous sommes les plus avantageux...</h1>

        </div>


    </div>

    <div class="row text-center">

        <div class="col-md-4">

        </div>
        <div class="col-md-4">

            <h3>lorem</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cum debitis delectus enim, facilis hic ipsa
                iste laudantium modi nihil numquam officiis optio porro quibusdam quidem quo repudiandae tempore voluptatem!</p>
            <h3>ipsum</h3>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut beatae dignissimos explicabo fuga numquam optio porro sint ullam voluptates. Nam placeat sunt voluptate. Iste omnis perspiciatis porro repellat veniam.</span><span>Aliquid autem consectetur culpa cum delectus deleniti ea est harum illum in ipsum, iste maiores maxime minima necessitatibus nesciunt odio officia praesentium quaerat quam quis sed tempore vel, veritatis voluptate.</span><span>Ad atque corporis culpa dolorem earum itaque natus obcaecati perspiciatis provident sit. Aut autem blanditiis deserunt, dicta doloremque eveniet excepturi molestias, quae quasi quia, repellat vel velit veniam? Dolorum, modi.</span><span>Exercitationem nihil, nobis quae quasi recusandae repudiandae similique velit. Atque cupiditate dicta excepturi facere facilis labore perferendis reprehenderit temporibus. Dolor dolorem hic nostrum, obcaecati voluptate voluptates. Earum excepturi libero nam.</span><span>Animi blanditiis dicta dolore ducimus enim id nemo, odit porro sunt tempora! Accusamus deserunt dicta dignissimos dolores, facilis modi reiciendis repellendus? Dolorum eum explicabo fuga itaque praesentium quas repellendus, veritatis?</span></p>
            <p>

        </div>

    </div>

{% endblock %}