{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container mt-4">

        <h1>S'inscrire</h1>

        <div class="row">

            <div class="col-md-4">


                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username, {
                    label: 'Nom d\'utilisateur'
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'Je suis d\'accord avec l\'enregistrement de mes données dans la base de données du site'
                }) }}

                <button type="submit" class="btn btn-primary">S'inscrire</button>
                {{ form_end(registrationForm) }}

            </div>

        </div>

    </div>

{% endblock %}
