{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">{{ form_row(form.title) }}</div>
    <div class="col-md-4">{{ form_row(form.city) }}</div>
    <div class="col-md-4">{{ form_row(form.adress) }}</div>
</div>
<div class="row">
    <div class="col-md-3">{{ form_row(form.size) }}</div>
    <div class="col-md-3">{{ form_row(form.nbPlace) }}</div>
    <div class="col-md-3">{{ form_row(form.price) }}</div>
    <div class="col-md-3">{{ form_row(form.pieces) }}</div>
</div>
<div class="row">
    <div class="col-md-4">{{ form_row(form.phoneNb) }}</div>
    <div class="col-md-4">{{ form_row(form.surface) }}</div>
    <div class="col-md-2">{{ form_row(form.reduction) }}</div>
    <div class="col-md-2">{{ form_row((form.imageFile)) }}</div>
</div>
{{ form_rest(form) }}
<button class="btn btn-primary">{{  button|default('Enregistrer') }}</button>
{{ form_end(form) }}