{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Ajouter une nouvelle location</h1>
        {{ include('admin/property/_form.html.twig', {form: form, button: 'Ajouter'}) }}
    </div>

{% endblock %}

{% block title %}

{% endblock %}

