{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}


    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if property.filename %}
                        <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height: auto;">
                    {% else %}
                        <img src="{{ '/images/properties/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto;">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ property.title }}</h1>
                    <h2>{{ property.nbplace }} personnes habitables</h2>
                    <div class="text-primary" style="font-size: 4rem;font-weight: bold;">{{ property.formattedPrice }} € la nuit</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">

        <p>
             {{ property.description | nl2br }}
        </p>

        <div class="row">
            <div class="col-md-8">
                <h2>Informations</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Nombre de personnes habitables</td>
                        <td>{{ property.nbplace }}</td>
                    </tr>
                    <tr>
                        <td>Reduction</td>
                        <td>{{ property.reduction }}</td>
                    </tr>
                    <tr>
                        <td>Surface totale en m²</td>
                        <td>{{ property.surface }}</td>
                    </tr>
                    <tr>
                        <td>Numero de telephone du gérant</td>
                        <td>+32 {{ property.phoneNb }}</td>
                    </tr>
                    <tr>
                        <td>Nombres de pièces</td>
                        <td>{{ property.pieces }}</td>
                    </tr>
                    <tr>
                        <td>Note de l'agence</td>
                        <td>{{ property.note }} / 10</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Options supplémentaires</h2>
                <ul class="list-group">
                    {% for option in property.options %}
                    <li class="list-group-item">{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-8">

                <hr/>

                <h2>Liste des commentaires</h2>
                {% for comment in property.comments %}

                    {% if comment.parent == null %}

                        <h4> Commentaire de {{ comment.nickname }}</h4>

                        <p>Publié le {{ comment.createdAt|date("d/m/Y H:i") }}</p>
                        <div>{{ comment.content }}</div>
                        <p>
                            <a href="#ajout-commentaire" data-reply data-id="{{ comment.id }}" type="button" class="btn btn-primary">Répondre</a>
                        </p>

                    {% endif %}

                    {% for reply in comment.replies %}

                        <h6>Réponse publiée par {{ reply.nickname }} le {{ reply.createdAt|date("d/m/Y H:i") }}</h6>
                        <p></p>
                        <div>{{ reply.content }}</div>

                    {% endfor %}

                {% endfor %}

                <hr/>

                <div id="ajout-commentaire"></div>
                <h2>Ajouter un commentaire</h2>
                {{ form(commentForm) }}

            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    <script>
        window.onload = () => {

            document.querySelectorAll("[data-reply]").forEach(element => {
                element.addEventListener("click", function(){
                    document.querySelector("#comments_parentid").value = this.dataset.id;
                });
            });

        }
    </script>

{% endblock %}
