{% extends 'base.html.twig' %}

{% block title 'Formulaire de contact'%}

{% block body %}

    <div class="jumbotron text-center">

        <div class="container">

            <h1>Formulaire de contact à notre agence</h1>

            <div id="contactForm" class="mt-4">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col">{{ form_row(form.firstname) }}</div>
                    <div class="col">{{ form_row(form.lastname) }}</div>
                </div>
                <div class="row">
                    <div class="col">{{ form_row(form.phone) }}</div>
                    <div class="col">{{ form_row(form.email) }}</div>
                </div>
                {{ form_rest(form) }}
                <div class="form-group">
                    <button class="btn btn-primary">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>

        </div>

    </div>

{% endblock %}
