<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">            {#{{ encore_entry_link_tags('app') }}#}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
        {% endblock %}

    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/properties/icone.png" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" href="{{ path('home') }}">Agence TropDeChalet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active {% if current_menu is defined and current_menu == 'propertiesmenu' %}active{% endif %}" aria-current="page" href="{{ path('properties') }}">Location</a>
                    </li>
                    <li>
                        <a class="nav-link active {% if current_menu is defined and current_menu == 'propertiesmenu' %}active{% endif %}" aria-current="page" href="{{ path('contact') }}">Contact</a>
                    </li>
                    <li>
                        <a class="nav-link active {% if current_menu is defined and current_menu == 'propertiesmenu' %}active{% endif %}" aria-current="page" href="{{ path('login') }}">Se connecter</a>
                    </li>
                    <li>
                        <a class="nav-link active {% if current_menu is defined and current_menu == 'propertiesmenu' %}active{% endif %}" aria-current="page" href="{{ path('condition') }}">Condition de vente</a>
                    </li>
                    <li>
                        <a class="nav-link active {% if current_menu is defined and current_menu == 'propertiesmenu' %}active{% endif %}" aria-current="page" href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                </ul>

                {% if is_granted('ROLE_ADMIN') %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('admin.property.index') }}" class="nav-link">CRUD</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('option_index') }}" class="nav-link">OPTIONS</a>
                        </li>
                    </ul>
                {% endif %}

                {% if app.user %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
        {% block body %}
            {{ flash_message }}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <script>
            $('select').select2();
        </script>
    {% endblock %}
    </body>

    <footer class="top-margin" >

        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />

        <div class="row">

            <div class="col-6 italic">

                <p>Créé par Matthieu Duchêne</p>

            </div>

            <div class="col-6 align-c">

                <p>Suivez nous sur les réseaux sociaux:</p>

                <div class="row">

                    <div class="col-3">

                    </div>

                    <div class="col-6">

                        <a href="https://www.facebook.com">

                            <img src="images/facebook.png" height="60" width="60" alt="">

                        </a>

                        <a href="https://www.twitter.com">

                            <img src="images/twitter.png" height="60" width="60" alt="">

                        </a>

                        <a href="https://www.instragram.com">

                            <img src="images/instagram.png" height="60" width="60" alt="">

                        </a>

                        <a href="https://fr.linkedin.com/">

                            <img src="images/linkedin.png" height="60" width="60" alt="">

                        </a>

                    </div>

                    <div class="col-3">

                    </div>

                </div>

            </div>

        </div>

    </footer>

</html>
