{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Editer l'option'</h1>
        {{ include('admin/option/_form.html.twig', {button: 'Editer' })}}
    </div>

{% endblock %}

{% block title %}

{% endblock %}