{% extends 'base.html.twig' %}

{% block title 'Gérer les options'%}


{% block body %}

    <div class="container mt-4">

        <h1>Gérer les options</h1>

        {% for message in app.flashes('succes') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% for option in options %}

                    <tr>
                        <td>{{ option.name }}</td>
                        <td>
                            <a href="{{ path('admin_option_edit', {id:option.id}) }}" class="btn btn-secondary">Editer</a>
                            <form method="post" action="{{ path('admin_option_delete', {id: option.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr de vouloir supprimer?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin_option_new') }}" class="btn btn-primary">Ajouter une nouvelle option</a>
        </div>

    </div>

{% endblock %}